/*ESTILOS USADOS EN TODAS LAS PAGINAS*/
* {
    padding: 0px;
    margin: 0px;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color:  #f8f9f9;
}

header {
    background-color:  #73c6b6 ;
    width: 100%;
}

header nav {
    text-align: center;
    background-color: #d5d8dc ;
    padding: 5px;
    
}

header nav li {
    display: inline;
    padding: 4px;
}

header nav li a {
    color: #154360 ;
}

h1 {
    text-align: center;
}

h2 {
    padding:10px;
}

main {
    width: 100%;
    margin: 20px;
    text-align: center;
    padding-bottom: 10%;
}

footer {
    padding: 30px;
    background-color: #73c6b6 ;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.iconos a{
    text-decoration: none;
    padding: 0px 5px;
    color: black;
}

/*ESTILOS USADOS EN LIBROUNO.HTML*/

table, tr , td {
    border: black solid 1px;
}

/*SOLO USADO EN REGISTRO.HTML*/
form {
    border: black 1px dashed;
}




