/*ESTILOS USADOS EN TODAS LAS PAGINAS*/

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
   

body {
    font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    background-color:  #f8f9f9;
}

header {
    background-color:  #73c6b6 ;
    width: 100%;
    margin-right: 0%;
    max-height: 100px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 1;
}
   
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

header nav {
    text-align: center;
    background-color: #d5d8dc ;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.32);
    margin-bottom: 10px;
}

.botonBarraNav:hover {
    color: black;
    background-color: #abacad;
}
header nav li {
    margin: 0px 10px 0px 10px;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.13);
    padding-top: 15px;
    padding-bottom: 10px;
}

h2 {
    margin-top: 10px;
    padding:10px;
}

h3 {
    font-size: 20px;
}

main {
    text-align: center;
    padding-bottom: 20px;
    padding: 20px 20px 20px 20px;
}

footer {
    padding: 20px 0px 10px 0px;
    background-color: #73c6b6 ;
    text-align: center;
}

.iconos a{
    text-decoration: none;
    padding: 0px 5px;
    color: black;
}

img {
    max-width: 80%;
    height: auto;
}

/* ESTILOS USADOS EN INDEX.HTML */

.divLibros div{
    display: inline-block;
}

.divLibros img {
    width: 250px;
    height: 300px;
}

/*ESTILOS USADOS EN NUESTROSLCIENTES.HTML*/

.imagenesClientes img{
    width: 200px;
    height: 250px;
    padding: 0 2% 3% 2%;
}

.imagenesClientes {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/*SOLO USADO EN REGISTRO.HTML*/
form{
    text-align: justify;
}
.form-control {
    width: 320px;
}

/*ESTILOS USADOS EN NUESTROSCLIENTES.HTML*/

.nuestrosClientes img {
    margin: auto;
}

.estilosCarousel {
    background-color: #91919170; 
    max-width: 80%; 
    margin: auto;
}

.p_acercaDe {
    margin-top: 25px;
}

/*ESTILOS USADOS EN CONTACTO.HTML*/

.imagenCursor{
    width: 150px ;
    height: 150px;
    margin: auto;
}

.imagenCursor:hover{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/*ESTILOS USADOS EN ACERCA DE*/
.p_acercaDe{
    width: 80%;
    margin: 0px auto 0px auto;
}